@import "_variables-mixins.scss";
html {
  font-size: 62.5%;
}

main {
  width: 117.178rem;
  margin: 0 auto;
  padding: 10rem 0 0 0;

  .alert-text {
    @include alert-text;
    margin-bottom: 5rem;
  }

  .description {
    @include description;
  }

  .main-div {
    display: grid;
    column-gap: 3rem;
    row-gap: 2.8rem;
    grid-template-columns: 1fr 1fr;

    .heading-sm-p {
      @include heading-sm-p;
      margin-bottom: 1.5rem;
    }

    .main-div-child {
      @include flex;
      border: 1px solid #e2e6e7;
      padding: 3.9rem 1rem 3rem 5rem;
      border-radius: 0.9rem;
      position: relative;

      .icon-exclamation {
        @include circle(#f9b718, #ffc12d);
      }

      .icon-checkmark {
        @include circle(#7bc200, #97e411);
      }

      .icon-nah {
        @include circle(#f55c43, #fd7761);
      }

      .icon-thunder {
        @include circle(#47b4f6, #6fd9fc);
      }

      .icon-i {
        @include circle(#8781bd, #a39cdc);
      }

      .cancel {
        position: absolute;
        top: 1.8rem;
        right: 1.8rem;
      }
    }

    .main-div-child:last-child {
      grid-column: 1 / span 2;
    }
  }
}
